/* Sections and full page settings */

* {
  font-family: "Lato", sans-serif;
}

section {
  position: relative;
  width: auto;
  height: auto;
  overflow-wrap: break-word;
  overflow: hidden;
}

.parallax {
  color: black;
  filter: grayscale(1);
  opacity: 0.5;
  height: 35vh;
  overflow: hidden;
}

/* Landing pages */

.landing {
  height: 100vh;
  background-color: black;
  text-align: center;
  align-content: center;
}

.landing h1 {
  position: absolute;
  font-size: 6vw;
  top: 40%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  color: #fd5a00;
  animation: loadin 2s none;
}

.landing h4 {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 3vw;
  padding: auto;
  transform: translate(-50%, -50%);
  color: #fd5a00;
  animation: loadinaswell 2s none;
}

@keyframes loadin {
  from {
    left: 25%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

@keyframes loadinaswell {
  from {
    left: 70%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid#fd5a00;
  border-right: 5px solid #fd5a00;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Ontwerpvraag */

.who h1 {
  padding: 25px;
  text-align: center;
  justify-content: center;
}

.who {
  background-color: black;
  color: white;
  position: relative;
  width: auto;
  height: 35vh;
  overflow-wrap: break-word;
  overflow: hidden;
  text-align: center;
}

/* Toelichting */

.toelichting {
  background-color: white;
  color: black;
}

.toelichtingrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.toelichtingcolumn {
}

.columntoelichting{
  display: flex;
}

.toelichting-image{
  max-width: 100%;
  height: auto;
  padding-left: 40em;
}

.colum-text{
  padding: 50px 50px 10px 50px;
  font-weight: 600;
  font-size: large;
  word-spacing: 0.2em;
}

/* Team */

.team {
  background-color: #fd5a00;
  color: black;
  overflow: hidden;
  min-height: 50vh;
  height: auto;
  padding: 5px;
}

.circular--square {
  border-radius: 50%;
}

.flexteam {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  margin: 20px;
  color: black;
}

.meetTeam {
  text-align: center;
}

.teamMember {
  margin: 5px;
  padding: 5px;
  top: 50%;
  text-align: center;
  width: 25% auto;
}



.teamMember img {
  margin: 20px;
}



.teammembers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.teamtext {
  line-height: 50px;
  font-weight: 700;

}

/* Onderzoek */

.values {
  background-color: black;
  color: #fd5a00;
  overflow: hidden;
  min-height: 50vh;
  height: auto;
  padding: 5px;
  justify-content: center;
  font-size: 15px;
}

.values h1 {
  padding: 15px;
  text-align: center;
  justify-content: center;
}

.rowValue {
  display: flex;
  padding: 30px;
  margin: 25px;
  justify-content: center;
  align-content: center;
  top: 50%;
  left: 50%;
}

.columnValue {
  flex: 1;
  padding: 25px;
  font-weight: 700;
  font-size: large;
  height: auto;
}

/* Gebruikersquotes */

.gebruikers {
  text-align: center;
}

.gebruikerSection {
  color: black;
  height: 35vh;
  overflow: hidden;
}

.slideshow {
  margin: 50px auto;
  position: relative;
  width: 240px;
  height: 240px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}

#slideshow > div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

/* Functionaliteiten */

.work {
  background-color: #fd5a00;
  color: black;
  overflow: hidden;
  min-height: 50vh;
  height: auto;
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  overflow: hidden;
  padding: auto;
  height: auto;
}

#child {
  text-align: center;
  align-self: stretch;
  flex-grow: 0;
  line-height: 50px;
  flex: 1;
  margin: 45px auto;
  padding: 25px;
}

/* Concepten */

.conceptcolumn {
  
  width: 25%;
}

.conceptfase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

}
.concept-title{
  padding-top: 10px;
  padding-left: 300px;
  padding-bottom: 50px;
}

.concept-text{
  padding: 65px;
  font-weight: 700;
  font-size: large;
}
/* Prototype: introductie */

/* Prototype: toelichting */

/* Prototype: tutorial */

.reveal{
  min-height: 50vh;
  background-color: #f5f5f5;
}

.reveal-title{
  text-align: center;
  padding-bottom: 20px;
}

.reveal-text{
  justify-content: safe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  font-weight: 700;
  font-size: large;
}


.img-container{
  display: flex;
  justify-content: center;
}

.reveal-prototype{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red; color:white; text-align: center;
  min-height: 50vh;
  height: auto;
}

.tutorial {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: large;
  overflow: hidden;
  min-height: 50vh;
  height: auto;
  padding: 5px;
}

.tutorial h1 {
  text-align: center;
 
}
.tutorial-items{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.tutorial-text{
  padding: 50px;
}

.containerTutorial {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  line-height: 25px;
  padding: auto;
  margin: 35px;
}

#myVideo{
  width: 100%;
  height: auto;
}

#child1tut {
  padding: 25px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
}

#child2tut {
  padding: 25px;
  margin: 30px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  line-height: 25px;
}

#child3tut {
  padding: 25px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 25px;
}

/* Prototype: video */
